.To-Do {
    background-image: url(/todo-backgroung.avif);
    background-size: cover;
    background-repeat: no-repeat;
   
}
.input-box {
    border-radius: 5rem;
}
.todo-input:focus {
    outline: none;
}

.item-box {
    border-radius: 10rem;
}

@media (min-width: 768px){
    
}

@media (min-width: 1024px){
    
}